* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: rgb(49, 49, 49);
}

body{
  margin: 0;
  background-color: rgb(49, 49, 49);
  z-index: -1;
}

main{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}